IO_LOC  "clk" 4;
IO_PORT "clk" PULL_MODE=UP;

IO_LOC  "io_cs" 73;
IO_PORT "io_cs" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "io_dc" 74;
IO_PORT "io_dc" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "io_reset" 75;
IO_PORT "io_reset" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "io_sdin" 85;
IO_PORT "io_sdin" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "io_sclk" 77;
IO_PORT "io_sclk" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
