IO_LOC  "clk" 4;
IO_PORT "clk" PULL_MODE=UP;

IO_LOC  "resetn" 88;
IO_PORT "resetn" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "io_sdin" 85;
IO_PORT "io_sdin" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "io_sclk" 77;
IO_PORT "io_sclk" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "sda" 73;
IO_PORT "sda" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "scl_pin" 74;
IO_PORT "scl_pin" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "btn2" 87;
IO_PORT "btn2" IO_TYPE=LVCMOS33;
